body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Asegura que el contenido sea desplazable verticalmente */
}

h1 {
    color: #333;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: left;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    display: block; /* Hace que la imagen se comporte como un bloque */
    margin-left: auto; /* Márgenes automáticos a los lados */
    margin-right: auto;
}

p {
    color: #666;
    margin-bottom: 20px;
    text-align: justify;
    font-size: 16px;
}

section {
    margin-bottom: 40px;
}
